<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="30">
    <mat-toolbar color="primary">Login Page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
      <mat-form-field>
          <input matInput type="text" placeholder="Username" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </form>
    <mat-divider></mat-divider>
  </mat-card>
</div>
